.weather-border {
background-color: antiquewhite;
max-width: 600px;
max-height: 400px;
border-radius: 20px;
margin: 0 auto;
border: 1px solid pink;
height: 400px;

}
#forms {
margin-top: 20px;
margin-left: 30px;
}
h1 {
  display: inline;
}
.header {
  margin-top: 150px;
  margin-left: 90px;
}
h2 {
  display: inline;
  color: blue;
}
#condition {
 text-transform: capitalize;
}

.sunny {
  margin-top: 30px;
}
#centigrad {
text-decoration: none;

}
#fahrenheit {
  text-decoration: none;
 
  }
 
.tomorrow {
  padding: 10px;
  margin-top: 40px;
}
.wednsday {
  padding: 10px;
  margin-top: 10px;
}
.thursday {
  padding: 10px;
  margin-top: 10px;
}
.friday {
  padding: 10px;
  margin-top: 10px;
}
.saturday {
  padding: 10px;
  margin-top: 10px;
}
.container {
  margin-top: 50px;
}
.weather {
  padding: 10px 10px 10px 110px;
  margin-top: 40px;
}
.search {
  margin-left: 15px;
  color: white;
  background-color: blue;
  border-radius: 10px;
  border-color: transparent;
}
.cityName {
  border-radius: 10px;
}


button {
  margin-left: 15px;
  color: white;
  background-color: green;
  border-radius: 10px;
  border-color: transparent;
}
#open-source{
  padding-left: 125px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.centered {
  margin-left: 130px;
}
#right .active {
color: black;
cursor: default;
}